[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
authlib = "*"
brotlipy = "*"
fire = "*"
h2 = "*"
httpx = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.11"
