<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>osm-revert</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='site.webmanifest') }}">
    <meta name="msapplication-TileColor" content="#799970">
    <meta name="theme-color" content="#ffffff">
</head>
<body style="zoom: 1.2">
<main style="margin-bottom: 0.8em">
    <h1>🗺️ osm-revert</h1>
    {% block body %}{% endblock %}
</main>
<footer>
    {# <a href="#">Donate</a> | #}
    📞 <a href="mailto:kamil@monicz.pl">Contact</a> |
    📃 <a href="https://resultmaps.neis-one.org/osm-suspicious?country=-1&hours=24&tsearch=osm-revert&mappingdays=-1&anyobj=t" target="_blank">Recent reverts</a> |
    Made in <a href="https://openstreetmap.org.pl/" target="_blank">Poland</a> 🇵🇱 |
    <a href="https://github.com/Zaczero/osm-revert" target="_blank" style="text-decoration: unset; position: relative; top: 5px">
        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/Zaczero/osm-revert?style=social">
    </a>
</footer>
</body>
</html>
