<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>osm-revert</title>

    {% block head %}{% endblock %}

    <link rel="icon" sizes="480x480" type="image/png" href="/static/img/favicon/480.png">
    <link rel="icon" sizes="480x480" type="image/webp" href="/static/img/favicon/480.webp">
    <link rel="icon" sizes="256x256" type="image/png" href="/static/img/favicon/256.png">
    <link rel="icon" sizes="256x256" type="image/webp" href="/static/img/favicon/256.webp">
    <link rel="apple-touch-icon" sizes="480x480" type="image/png" href="/static/img/favicon/480.png">
    <link rel="apple-touch-icon" sizes="256x256" type="image/png" href="/static/img/favicon/256.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="container mt-3 mb-4">
    <nav class="text-center d-md-flex justify-content-center align-items-center mb-2">
        <div class="mb-2">
            📃 <a
                href="https://resultmaps.neis-one.org/osm-suspicious?country=-1&hours=24&tsearch=osm-revert&mappingdays=-1&anyobj=t"
                target="_blank">Recent reverts</a>
        </div>
        <div class="mb-2 mx-1 d-none d-md-block">•</div>
        <div class="mb-2">
            😍 <a href="https://monicz.dev/#support-my-work" target="_blank">Support my work</a>
        </div>
        <div class="mb-2 mx-1 d-none d-md-block">•</div>
        <div class="mb-2">
            📧 <a href="https://monicz.dev/#get-in-touch" target="_blank">Get in touch</a>
        </div>
        <div class="mb-2 mx-1 d-none d-md-block">•</div>
        <div class="mb-2">
            <a href="https://github.com/Zaczero/osm-revert" target="_blank">
                <img alt="GitHub repo stars"
                    src="https://shields.monicz.dev/github/stars/Zaczero/osm-revert?style=social">
            </a>
        </div>
    </nav>

    <div class="card shadow-sm col-lg-8 offset-lg-2">
        <div class="card-body">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>

</html>
