<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>osm-revert</title>
</head>
<body style="zoom: 1.2">
<main style="margin-bottom: 0.8em">
    <h1>🗺️ osm-revert</h1>
    {% block body %}{% endblock %}
</main>
<footer>
    {# <a href="#">Donate</a> | #}
    📞 <a href="mailto:kamil@monicz.pl">Contact</a> |
    Made in <a href="https://openstreetmap.org.pl/" target="_blank">Poland</a> 🇵🇱 |
    <a href="https://github.com/Zaczero/osm-revert" target="_blank" style="text-decoration: unset; position: relative; top: 5px">
        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/Zaczero/osm-revert?style=social">
    </a>
</footer>
</body>
</html>
