<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>osm-revert</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="container mt-3 mb-4">
    <nav class="text-center d-md-flex justify-content-center align-items-center mb-2">
        <div class="mb-2">📃 <a
                href="https://resultmaps.neis-one.org/osm-suspicious?country=-1&hours=24&tsearch=osm-revert&mappingdays=-1&anyobj=t"
                target="_blank">Recent reverts</a></div>
        <div class="mb-2 mx-1 d-none d-md-block">•</div>
        <div class="mb-2">😍 <a href="https://monicz.dev/#support-my-work" target="_blank">Support my work</a></div>
        <div class="mb-2 mx-1 d-none d-md-block">•</div>
        <div class="mb-2">📧 <a href="https://monicz.dev/#get-in-touch" target="_blank">Get in touch</a></div>
        <div class="mb-2 mx-1 d-none d-md-block">•</div>
        <div class="mb-2">
            <a href="https://github.com/Zaczero/osm-revert" target="_blank">
                <img alt="GitHub repo stars"
                    src="https://shields.monicz.dev/github/stars/Zaczero/osm-revert?style=social">
            </a>
        </div>
    </nav>

    <div class="card shadow-sm col-lg-8 offset-lg-2">
        <div class="card-body">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>

</html>
