{% extends '_base.html' %}
{% block body %}

    {% if user.img.href %}
    <img src="{{ user.img.href }}" width="16" height="16" alt="Profile picture">
    {% endif %}

    <h2 style="display: inline; margin-left: .1em">{{ user.display_name }}</h2>

    <form action="/logout" method="post" style="display: inline; margin-left: .3em; position: relative; top: -4px">
        <input type="submit" value="Logout">
    </form>

    <div style="margin-bottom: .5em"></div>

    <div>
        <label>
            Changesets:<br>
            <textarea id="changesets" cols="60" rows="2" placeholder="118034381, 130000000, …"></textarea>
        </label><br>

        <label>
            Comment:<br>
            <textarea id="comment" cols="60" rows="3" placeholder="I revert it because…" maxlength="255"></textarea>
        </label><br>

        <div style="margin-bottom: .2em"></div>

        <input id="submit" type="button" value="Connecting…" style="margin-right: .5em" disabled>
        <input id="submit-osc" type="button" value="Connecting…" disabled>

        <div style="margin-bottom: 1.2em"></div>

        <label>
            Revert log<br>
            <textarea id="log" cols="60" rows="15" readonly></textarea>
        </label>
    </div>

    <script>
        const form = document.getElementById('form')
        const changesets = document.getElementById('changesets')
        const comment = document.getElementById('comment')
        const submit = document.getElementById('submit')
        const submit_osc = document.getElementById('submit-osc')
        const log = document.getElementById('log')
        const ws = new WebSocket(`${document.location.protocol === 'https:' ? 'wss' : 'ws'}://${document.location.host}/ws`)

        let isAutoScrolling = true
        let isReverting = true

        let wsDownloadingOsc = false
        let wsOsc = []

        const setIsReverting = state => {
            if (state) {
                wsDownloadingOsc = false
                wsOsc = []
            }

            isReverting = state
            submit.disabled = state
            submit_osc.disabled = state
        }

        ws.onopen = () => {
            submit.value = '🌍️ Revert and upload'
            submit_osc.value = '💾 Revert and download .osc'
            setIsReverting(false)
        }

        ws.onmessage = e => {
            const obj = JSON.parse(e.data)

            if (obj.message === "<osc>") {
                wsDownloadingOsc = true
                wsOsc = []
            }
            else if (obj.message === "</osc>") {
                const fileName = 'revert_' + new Date().toISOString().replace(/:/g, '_') + '.osc'
                const osc = wsOsc.join('\n')

                const a = document.createElement('a')
                const file = new Blob([osc], { type: 'text/xml; charset=utf-8' })
                a.href = URL.createObjectURL(file)
                a.download = fileName
                a.click()

                wsDownloadingOsc = false
                wsOsc = []
            }
            else if (wsDownloadingOsc) {
                wsOsc.push(obj.message)
            }
            else {
                log.value += obj.message + '\n'

                if (isAutoScrolling && log.scrollHeight > log.clientHeight)
                    log.scrollTop = log.scrollHeight
            }

            if (obj.last === true) {
                if (obj.message === "Exit code: 0")
                    changesets.value = ''

                setIsReverting(false)
            }
        }

        ws.onclose = e => {
            console.log(e)
            setIsReverting(true)
            submit.value = 'Disconnected'
            submit_osc.value = 'Disconnected'
            log.value = `⚠️ Disconnected: ${e.reason}\n⚠️ Please reload the page`
        }

        submit.addEventListener('click', e => {
            e.preventDefault()

            if (isReverting)
                return

            setIsReverting(true)
            log.value = ''

            ws.send(JSON.stringify({
                changesets: changesets.value,
                comment: comment.value,
                upload: true
            }))
        })

        submit_osc.addEventListener('click', e => {
            e.preventDefault()

            if (isReverting)
                return

            setIsReverting(true)
            log.value = ''

            ws.send(JSON.stringify({
                changesets: changesets.value,
                comment: comment.value,
                upload: false
            }))
        })

        log.addEventListener('scroll', () => {
            isAutoScrolling = log.scrollHeight - log.scrollTop < log.clientHeight + 5
        })
    </script>
{% endblock %}
