abbr {
    color: #777;
    cursor: help;
    vertical-align: super;
    font-size: .8em;
}

.required::after {
    content: '*';
    color: #e00;
    font-weight: bold;
}

.char-counter {
    display: none;
    font-size: .8em;
    margin-top: .25em;
    text-align: end;
}
