[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
authlib = "*"
brotlipy = "*"
cachetools = "*"
fastapi = "*"
h2 = "*"
httpx = "*"
itsdangerous = "*"
jinja2 = "*"
starlette = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
